#junior-graphic {
    background-image: url(../../dist/img/junior-skater.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
    min-height: 100vh;
    height: 100%;
        
    
    .copy {
        padding: 33vh 5vh 33vh 5vh;
        color: white;
        text-align: center;
    }
}